<div class="mainprincipal">

    <div class="main-40 center titulo">
        <p class="flow-text center">PERSONAS</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>RUT</th>
                <th>IDENTIFICACIÓN</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>RAZÓN SOCIAL</th>
                <th>AÑO FUNDACIÓN</th>
                <th>FECHA MODIFICACIÓN</th>
                <th>FECHA CREACIÓN</th>
                <th>ACCION</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of listarPersonas; let i = index">
                <td>{{data.rut}}</td>
                <td>{{data.identificacion || 'No aplica'}}</td>
                <td>{{data.nombre || 'No aplica'}}</td>
                <td>{{data.apellidos || 'No aplica'}}</td>
                <td>{{data.razonsocial || 'No aplica'}}</td>
                <td>{{data.aniofundacion || 'No aplica'}}</td>
                <td>{{data.fechamodificacion | date: 'medium'}}</td>
                <td>{{data.fechacreacion | date: 'medium' }}</td>
                <td class="accion anchoBotonesTabla">
                    <i (click)="eliminar(data.rut, i)" class="material-icons rojoIcon left puntero eliminarAdmin">
                            delete
                        </i>

                    <i (click)="irEditar(data, i)" class=" material-icons verdeIconAdmin left puntero editarAdmin">
                            edit
                        </i>
                </td>
            </tr>


        </tbody>
    </table>

    <div class="main-40 center titulo">
        <p class="flow-text center">AGREGAR PERSONAS</p>
    </div>
    <form class="col s12 main-40">


        <div class="row">
            <div class="col s6 tamanomax">
                <p class="opt">
                    <input name="group1" type="radio" id="test1" (click)="limpiar()" [(ngModel)]="tipoPersonaModel" [value]="1" [disabled]="isDisabled?true:null" />
                    <label for="test1">Persona Fisica</label>

                    <input name="group1" type="radio" id="test2" (click)="limpiar()" [(ngModel)]="tipoPersonaModel" [value]="2" [disabled]="isDisabled?true:null" />
                    <label for="test2">Persona Juridica</label>
                </p>
            </div>
        </div>



        <div class="row" *ngIf="tipoPersonaModel === 1">

            <div class="row">
                <div class="input-field col s6">
                    <input name="rut" type="number" [disabled]="isModificar" [(ngModel)]="dataObject.rut" class="validate">
                    <label for="rut">Rut</label>
                </div>

                <div class="input-field col s6">
                    <input name="identificacion" type="text" [(ngModel)]="dataObject.identificacion" class="validate">
                    <label for="identificacion">Identificacion</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="nombre" type="text" [(ngModel)]="dataObject.nombre" class="validate">
                    <label for="nombre">Nombres</label>
                </div>
                <div class="input-field col s6">
                    <input name="apellidos" type="text" [(ngModel)]="dataObject.apellidos" class="validate">
                    <label for="apellidos">Apellidos</label>
                </div>
            </div>
        </div>

        <div *ngIf="tipoPersonaModel === 2">

            <div class="row">
                <div class="input-field col s6">
                    <input name="rut" type="number" [disabled]="isModificar" [(ngModel)]="dataObject.rut" class="validate">
                    <label for="rut">Rut</label>
                </div>

                <div class="input-field col s6">
                    <input name="razonsocial" type="text" [(ngModel)]="dataObject.razonsocial" class="validate">
                    <label for="razonsocial">Razon social</label>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                    <input name="aniofundacion" type="text" [(ngModel)]="dataObject.aniofundacion" class="validate">
                    <label for="aniofundacion">Año fundacion</label>
                </div>
            </div>
        </div>

        <div class="flex  top40">
            <div class="input-field card-action " *ngIf="!isModificar">
                <a class="waves-effect blue darken-4 btn" (click)="crarPersona()">Registrar</a>
            </div>

            <div class="input-field card-action " *ngIf="isModificar">
                <a class="waves-effect blue darken-4 btn" (click)="modificarPersona()">Actualizar</a>
                <a class="waves-effect darken-4 btn" (click)="limpiar()">Cancelar</a>
            </div>
        </div>
    </form>
</div>