.main-40 {
    margin-top: 40px;
}

.mainprincipal {
    padding: 0px 80px 20px 80px;
}

.center {
    text-align: center;
}

.tamanomax {
    width: 100% !important;
}

.opt {
    text-align: center !important;
}