<nav id="navBar" class="barraT nav-wrapper">

    <div id="opcionesNav">

        <h5 id="tituloNav" class="flex textoMedio">
            <i class="material-icons left">account_balance</i> TECSO APP
        </h5>

        <ul id="nav-mobile" class="left"> </ul>
    </div>

</nav>

<router-outlet></router-outlet>