#navBar {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    color: #0a1c08 !important;
    box-shadow: inherit !important;
}

#navBar div {
    width: 100%;
}

.puntero {
    cursor: pointer !important;
}

#opcionesNav {
    padding: 0 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}


/* .barraT {
    background: rgba(73, 155, 234, 0);
    background: -moz-linear-gradient( left, rgba(73, 155, 234, 0) 49%, rgba(73, 155, 234, 0.63) 81%, #0d47a1 100%);
    background: -webkit-gradient( left top, right top, color-stop(49%, rgba(73, 155, 234, 0)), color-stop(81%, rgba(73, 155, 234, 0.63)), color-stop(100%, #0d47a1));
    background: -webkit-linear-gradient( left, rgba(73, 155, 234, 0) 49%, rgba(73, 155, 234, 0.63) 81%, rgb(28, 34, 41) 100%);
    background: -o-linear-gradient( left, rgba(73, 155, 234, 0) 49%, rgba(73, 155, 234, 0.63) 81%, #0d47a1 100%);
    background: -ms-linear-gradient( left, rgba(73, 155, 234, 0) 49%, rgba(73, 155, 234, 0.63) 81%, #0d47a1 100%);
    background: linear-gradient( to right, rgba(73, 155, 234, 0) 49%, rgba(73, 155, 234, 0.63) 81%, #0d47a1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1);
} */

#opcionesNav #home {
    display: flex !important;
    width: 210px;
    height: 40px;
    padding: 20px 15px;
    border-radius: 7px;
    font-size: 20px;
    color: #0d47a1 !important;
}

#opcionesNav #home:hover {
    background: #0d47a1 !important;
    color: #fafafa !important;
}

#opcionesNav #home i {
    font-size: 30px !important;
    height: 30px;
    line-height: 30px;
}

#tituloNav {
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0;
}

#tituloNav img {
    width: 35px;
    margin-right: 10px;
    object-fit: contain;
}

#nav-mobile {
    min-width: 315px;
}

#nav-mobile li {
    max-height: 45px;
    height: 35px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 7px;
    cursor: default;
}

#nav-mobile li#cerrarSesion {
    cursor: pointer;
}

#nav-mobile li#cerrarSesion span {
    min-width: 105px;
}

#nav-mobile li#cerrarSesion:hover {
    background: #002450 !important;
    color: #fafafa !important;
}

#nav-mobile li i {
    height: 30px;
    line-height: 30px;
    margin-right: 10px !important;
}

#logoNav {
    width: 150px;
}

.spacio {
    letter-spacing: 1px;
}

.tamaño {
    font-size: 22px;
}

.logos {
    padding: 0;
    height: auto;
    background-image: url("/assets/img/LogoCodesaBlue.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

@media screen and (max-width: 1100px) {
    #opcionesNav {
        padding: 0 10px;
    }
    #tituloNav {
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 970px) {
    #navBar h5 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 880px) {
    #tituloNav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #tituloNav {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    #home {
        font-size: inherit !important;
    }
    #tituloNav {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    #opcionesNav #home {
        width: 140px;
        max-height: 35px;
        padding: 17px 15px;
    }
    #opcionesNav #home i {
        font-size: 25px !important;
    }
    #usuarioNav {
        display: none;
    }
    #nav-mobile {
        min-width: inherit;
    }
    #nav-mobile li {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    #cerrarSesion span {
        display: none;
    }
}