.flex {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
}

.titulo {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
}

.puntero {
    cursor: pointer !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
}

.main-40 {
    margin-top: 40px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}